doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js')
  body
    block content
